<!DOCTYPE html>
<html>

<head>
    <title>Enigma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Enigma M3 (Wehrmacht) Cipher</h1>
    <hr class=" rounded">
    <h3>Configure Machine</h3>
    <form action="/enigma-cipher" id="form-group" method="POST" enctype="multipart/form-data">
        <div data-toggle="buttons">

        </div>
        <label for="rotor1">Rotor 1:</label>
        <select id="rotor1", name="rotor1">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
        <label for="rotor2", name="rotor2">Rotor 2:</label>
        <select id="rotor2">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
        <label for="rotor3", name="rotor3">Rotor 3:</label>
        <select id="rotor3">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
        <label for="reflector">Reflector:</label>
        <select id="reflector">
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <div class="form-group">
            <br>
            <textarea class="form-control text-monospace" form="form-group" rows="1" cols="50" name="ring1"
                spellcheck="false" placeholder="Ring 1 position (Default: A)..."></textarea>
        </div>
        <div class="form-group">
            <br>
            <textarea class="form-control text-monospace" form="form-group" rows="1" cols="50" name="ring2"
                spellcheck="false" placeholder="Ring 2 position (Default: A)..."></textarea>
        </div>
        <div class="form-group">
            <br>
            <textarea class="form-control text-monospace" form="form-group" rows="1" cols="50" name="ring3"
                spellcheck="false" placeholder="Ring 3 position (Default: A)..."></textarea>
        </div>
        <h3>Enter Text</h3>
        <div class="form-group">
            <textarea class="form-control text-monospace" form="form-group" rows="5" cols="50" name="plaintext"
                spellcheck="false" placeholder="Type here..."></textarea>
        </div>
        <br>
        <div>
            <label class="test1">
                <button class="file-test-btn"><input type="file" name="file" /></button>
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Encrypt/Decrypt</button>
        <br>
        <br>
        {% if error != '' %}
        <p><strong>ERROR: {{ error }} </strong></p>
        {% endif %}
    </form>
    <br>
    <h3>Results</h3>
    <h4>No Space</h4>
    <textarea class="form-control text-monospace" rows="3" cols="50" id="resulttext" spellcheck="false"
        readonly>{{ result1 }}</textarea>
    <h4>5-Letter Group</h4>
    <textarea class="form-control text-monospace" rows="3" cols="50" id="resulttext" spellcheck="false"
        readonly>{{ result2 }}</textarea>
    <div class="container">
        <a href="./downloads/{{filename}}" download>
            <div>
                <button class="btn">
                    Download
                </button>
            </div>
        </a>
    </div>
    <div>
        <br>
        <a href="/">Back to Menu</a>
    </div>
</body>

</html>